<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FlagTrainer</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="header">
    <div id="stats">
        <p><span th:text="${user != null ? user.username : 'Guest'}">Guest</span></p>
        <p>Правильно: <span id="correctCount" th:text="0">0</span></p>
        <p>Неправильно: <span id="incorrectCount" th:text="0">0</span></p>
    </div>
    <div id="logout">
        <a href="/logout" th:if="${user != null}">Logout</a>
    </div>
</div>
<div id="containerMain">
    <div id="flagContainer">
        <img id="flagImage" th:src="${flag != null ? flag.imageUrl : 'https://flagcdn.com/w320/ua.png'}" alt="Flag" th:title="${flag != null ? flag.countryName : 'Україна'}">
    </div>
    <div id="countryNameContainer">
        <p id="countryName" th:text="${flag != null ? flag.countryName : 'Україна'}" style="display: none;">Україна</p>
    </div>
    <div class="buttonsContainer">
        <div id="incorrectBtn" class="disabled" onclick="setupFlagClickHandler()">✗</div>
        <div id="correctBtn" class="disabled" onclick="setupFlagClickHandler()">✓</div>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>
