<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FlagTrainer</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="header">
    <div id="stats">
        <p><span id="userIdDisplay" th:text="${userId}"></span></p>
        <p>Correct: <span id="correctCount" th:text="0">0</span></p>
        <p>Incorrect: <span id="incorrectCount" th:text="0">0</span></p>
    </div>
    <div id="logout">
        <a href="/logout">Logout</a>
    </div>
</div>
<div id="containerMain">
    <div id="flagContainer">
        <img id="flagImage" th:src="${flag.imageUrl}" alt="Flag">
    </div>
    <div id="flagIdContainer">
        <p id="flagId" th:text="${flag.flagId}" style="display: none;"></p>
        <p id="flagCapital" th:text="${flag.capital}" style="display: none;"></p>
        <p id="flagContinent" th:text="${flag.continent}" style="display: none;"></p>
    </div>
    <div class="buttonsContainer">
        <div id="incorrectBtn" class="disabled" onclick="setupFlagClickHandler()">✗</div>
        <div id="correctBtn" class="disabled" onclick="setupFlagClickHandler()">✓</div>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>
