<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>FlagTrainer</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div id="login-container">
  <form id="login-form" th:action="@{/login}" method="post">
    <div id="userId-group">
      <label for="userId" class="visually-hidden">userId</label>
      <input id="userId" type="text" name="userId" placeholder="Enter" pattern="[A-Za-z]+" title="Username should only contain Latin letters. No spaces allowed." required autocomplete="off">
    </div>
    <button type="submit" id="login-button">Login</button>
  </form>
</div>
</body>
</html>
